body {
    background: #CCCCCC;
    margin-top: 0px;
}

div#container {
    margin: auto;
    width: 100%;
    max-width: 720px;
}

div.screen {
    display: block;
    margin-bottom: -4px;
    width: 100%;
}

div.screen video {
    width: 360px;
}

div.screen img {
    width: 100%;
}

div.screen map area {
    cursor: pointer;
}

div#women-we-know {
    width: 100%;
    text-align: center;
    background-color: #86A849;
}

div#connect-form {
    background-color: #FF8A9E;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.field {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
}

div.field label {
    display: block;
    color: #FFFFFF;
    font-family: SANS-SERIF;
    padding-bottom: 5px;
}

div.field input, div.field select {
    display: block;
    min-width: 280px;
    height: 30px;
    border-radius: 7px;
    border: none;
    color: #FF8A9E;
    padding: 5px;
}

div.select select {
    overflow: hidden;
    min-width: 280px;
    height: 40px;
}

div.instructions {
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

div.check {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.check label {
    display: inline;
    vertical-align: bottom;
}

div.check input {
    display: inline;
    width: 20px;
    height: 20px;
    min-width: 20px;
}

div.field input[type="submit"] {
    display: block;
    height: 40px;
    font-size: 20px;
}

div.disclaimer {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    margin-left: 20px;
}